# Tiger SMS API Configuration
TIGER_SMS_API_KEY=

# Optional: Referral ID
REFERRAL_ID=

# Optional: Maximum price for numbers (in rubles)
MAX_PRICE=

# PremiSocks proxy settings
PREMISOCKS_TOKEN=
PREMISOCKS_REQUIRED=
PREMISOCKS_COUNTRY=