# Tiger SMS API Configuration
TIGER_SMS_API_KEY=v0SU1z0PyBV6VvaKiEAYRvh2OprF1OGm

# Optional: Referral ID
REFERRAL_ID=

# Optional: Maximum price for numbers (in rubles)
MAX_PRICE=

# PremiSocks proxy settings
PREMISOCKS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI1IiwianRpIjoiNzVkYWQ4YjBiN2VkZDMwNDk5ZGM0Zjg1OTE1MjI3ZDA2MTk5MmUzNzI4ZTgzZTY4M2I0MTEzOGQyM2Y1MDg0NGIzODhlY2VjZGMxODJiZjkiLCJpYXQiOjE3MjQzMTY3NTMuODEwMDk2LCJuYmYiOjE3MjQzMTY3NTMuODEwMDk4LCJleHAiOjIwMzk4NDk1NTMuODA3NTg4LCJzdWIiOiI2OTAzMyIsInNjb3BlcyI6W119.hEf6_kimSfxrMH2wt4PII6JZ5XqgqXDLcuakAGtoarxA-VK9MiV7Y8BSbsWhexGxZv8O3QE-YdOBgdQY39iDZ_bWC9WyE6HRfswWZNQAVqT2hD9aWvYDSYsxzCYio470vstfReecS99sHMY2IsI4-kQh3BUcMG11ixpaMAW0E-0
PREMISOCKS_REQUIRED=1
PREMISOCKS_COUNTRY=FR